@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    position: relative;
}

.nav {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(36, 100%, 99%);
    padding: 5vw 10vw 4vw 10vw;
}

.nav-2 {
    display: flex;
    gap: 2.5vw;
    margin-top: 1vw;
}

.nav h4 {
    font-size: 1em;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
    color: hsl(236, 13%, 42%);
    cursor: pointer;
}

.nav-2 i {
    display: none;
    font-size: 1.7vw;
    font-weight: 800;
    margin-bottom: 5px;
    color: hsl(236, 13%, 42%);
}

.nav-2 h4:hover {
    color: hsl(5, 85%, 63%);
}




/*
- Soft orange: hsl(35, 77%, 62%)
- Soft red: hsl(5, 85%, 63%) 
Off-white: hsl(36, 100%, 99%)
Grayish blue: hsl(233, 8%, 79%)
Dark grayish blue: hsl(236, 13%, 42%)
Very dark blue: hsl(240, 100%, 5%) 
*/

@media (max-width: 500px) {
    
}